<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Shopping cart</title>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8"/>
    <link rel="stylesheet" href="../static/css/styles.css" th:href="@{/css/styles.css}">
    <script src="https://kit.fontawesome.com/5eae05862f.js" crossorigin="anonymous"></script>
    <!--            <script th:src="@{/js/shoppingCart.js}"></script>-->
</head>
<body>
    <div th:if="${#lists.isEmpty(cocktails)}">
        <span>No cocktails in menu</span>
    </div>
    <div th:unless="${#lists.isEmpty(cocktails)}">
        <div th:each="stat : *{cocktails}">
            <div th:text="${session.getAttribute('cocktail'+*{cocktails[__${stat.id}__]}.id)}"></div>
        </div>
    </div>
</body>
</html>